Реализовать работу динамической структуры: ОЧЕРЕДЬ
·Добавление элемента
·Удаление
·Сортировка: В работе использовать два метода сортировки:
быструю и вставками. Сравнить эффективность.
·Поиск
·Вывод на экран
Элемент структуры – запись с полями
Record
А1:Integer
А2:Integer
·Integer: ключ
·^запись: указатель.

----
при поиске элемента могут быть повторы,это необходимо учесть